<!-- Me costó encontrar la forma de hacer esto, pero tiene todo el sentido al crear un análogo a "@" con la variable de abajo
que rescata todos los registros de la tabla intermedia haciendo referencia al usuario por su id.
Aprendí a usar mejor el rails console, así que puedo buscar todo siempre y cuando esté relacionado -->
<% if @postulations.count == 0 %>
    <h1 class="mt-4">No hay postulaciones</h1>
<% end %>
<% @postulations.each do |postulation| %>
    <%= render postulation %>
    <p>
        <%= link_to "Ver Publicación", postulation, class: "btn btn-primary text-white fw-bold px-4"  %>
    </p>
<% end %>