<h1>Nueva Publicación</h1>

<%= render "form", publication: @publication %>

<br>

<div>
  <%= link_to "Volver a Publicaciones", publications_path, class: "btn btn-info text-white my-2 mt-4" %>
</div>
