<div class="row">
    <div class="col-xs-12 col-md-12 text-center">
        <h1 class="mt-4 fw-bold">Bienvenido/a Portal Postulaciones</h1>

<%= image_tag "https://www.elespectador.com/resizer/v2/G4R6G7ZLPJAWZPYKUHYXTP4RVY.jpg?auth=b58f490b0f07bdcc97cb735bbe8a5e219709d5730d7a65c06b4b18ef376938df&width=920&height=613&smart=true&quality=60", class: "w-50 my-4" %>

<br>

<%= link_to "Ingresar al sitio", publications_path, class: "btn fs-4 mt-3 btn-outline-primary" %>
    </div>
</div>